resources
.hugo_build.lock
public/archives
public/categories
public/page
public/post
public/search
public/tages
public/404.html
public/index.html
public/index.xml
public/sitemap.xml
public/css
public/js
public/scss
public/ts
public/img
public/icons
